server:
  port: 8082

spring:
  application:
    name: auth-service
  cloud:
    openfeign:
      enabled: true
      httpclient:
        enabled: true

  datasource:
    url: jdbc:postgresql://localhost:5432/auth_db
    username: karina
    password: 11111
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          batch_size: 20
        order_inserts: true
        connection:
          provider_disables_autocommit: true
    open-in-view: false

  data:
    redis:
      host: localhost
      port: 6379
      #password: "11111"
      timeout: 5000ms
      connect-timeout: 3000ms
      client-type: lettuce
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
          max-wait: 2000ms
        shutdown-timeout: 200ms

jwt:
  secret: "404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970"
  expiration: 86400000

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
    healthcheck:
      enabled: true
  instance:
    hostname: localhost
    prefer-ip-address: false

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: basic
      user-service:
        connectTimeout: 3000
        readTimeout: 3000

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
      base-path: /actuator
  endpoint:
    health:
      show-details: always
      show-components: always
  health:
    redis:
      enabled: true

logging:
  level:
    com.project.webchat.auth: DEBUG
    org.springframework.security: WARN
    org.springframework.data.redis: WARN
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: OFF
    com.netflix.eureka: WARN
    org.hibernate.engine.jdbc.connections: OFF
    root: INFO