server:
  port: 8083

spring:
  application:
    name: chat-service

  data:
    mongodb:
      uri: mongodb://localhost:27017/webchat_messages
      database: webchat_messages

    redis:
      host: localhost
      port: 6379
      password: "11111"

websocket:
  endpoint: /ws/chat
  allowed-origins: "*"

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}

logging:
  level:
    com.project.webchat.chat: DEBUG
    org.springframework.web.socket: DEBUG